{% extends 'layout.html' %}
{% block body %}

<h2>DnB Songs</h2>

<br>
<h2>Artists</h2>
{% for artist in all_artists %}
<br>
id: {{ artist.id }}
<br>
Artist Name: {{ artist.artistname }}
<br>

<h4>Songs</h4>
{% for song in all_songs %}
{% if song.artist == artist.id %}
id: {{ song.id }} 
Song Name: {{ song.songname }}

<br><br>

<form action="{{ url_for('update', song_id=song.id) }}" style="display: inline;">
<input type=submit value="Update">
</form>
<form action="{{ url_for('delete', song_id=song.id) }}" style="display: inline;">
<input type=submit value="Delete">
</form> 

{% endif %}
{% endfor %} 
{% endfor %}

<br><br><br>
        


{% endblock body %}