{% extends 'layout.html' %}
{% block body %}

    <h2>Songs</h2>
    <class>{{ Songs, Artist }}</class>
        {% for songs in all_songs %}
            {{ songs.song_name }}
        <br>
            {{ songs.date_created }}
        <br>
            {{ songs.artists }}
            <form action="{{ url_for('update', id=Songs.id) }}">
                <input type=submit value='Update Song'>
            </form>
            <form action="{{ url_for('delete', id=Songs.id) }}">
                <input type=submit value='Delete Song'>
            </form>
        {% endfor %}
    

{% endblock body %}